.container{
    width: 80%;
    margin: 0px auto;
    padding-top: 10px;
}
#home-title{
    margin: 0.5%;
}
.cards{
    display: grid;
    /* justify-content: center; */
    grid-template-columns: auto auto auto auto;
    
}
.card{
    height: 300px;
    margin: 2.5%;
    width: 95%;
    background-color: blue;
}