@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary{
    background-color: #42C2FF;
}

.bg-secondary{
    background-color: #85F4FF;
}

.bg-medium{
    background-color: #B8FFF9;
}

.bg-light{
    background-color: #B8FFF9;
}

.text-primary{
    background-color: #42C2FF;
}

.text-secondary{
    background-color: #85F4FF;
}

.text-medium{
    background-color: #B8FFF9;
}

.text-light{
    background-color: #B8FFF9;
}

.text-aliceblue{
    color: aliceblue;
}

.text-aliceblue{
    color: aliceblue;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px
}
